.header {
  grid-area: header;
  font-size: 2em;
}
.links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-content: center;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  position: fixed;
  grid-area: footer;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header . links"
    "main main main sidebar"
    ". footer footer .";
}

#map {
  width: 100%;
  height: 600px;
}

body {
  color: color(srgb 0.094 0.114 0.153);
  background: color(srgb 0.094 0.114 0.153);
}
body.dark-theme {
  color: color(srgb 0.933 0.933 0.933);
  background: rgb(24, 29, 39);
}

a {
  color: #0033cc;
}
body.dark-theme a {
  color: #809fff;
}
